@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.spin {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grow {
  animation: grow 0.5s ease-in-out infinite alternate;
  transform-origin: bottom center;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.mint-text {
  animation: mint-text 0.5s ease-in-out infinite alternate;
}

@keyframes mint-text {
  from {
    transform: scale(1) rotate(-45deg);
  }
  to {
    transform: scale(1.1) rotate(-45deg);
  }
}

.footer-bg {
  background-color: hsla(218, 77%, 3%, 1);
  background-image: radial-gradient(
      at 99% 99%,
      hsla(82, 94%, 62%, 0.13) 0px,
      transparent 50%
    ),
    radial-gradient(at 4% 7%, hsla(82, 94%, 62%, 0.13) 0px, transparent 50%),
    radial-gradient(at 4% 28%, hsla(217, 72%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 73%, hsla(217, 72%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 49%, hsla(217, 72%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 93%, hsla(217, 72%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 9%, hsla(217, 72%, 8%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 8%, hsla(218, 72%, 8%, 1) 0px, transparent 50%);
}
